# Ignorar el directorio node_modules en cualquier nivel
node_modules/

# Ignorar archivos de registro
*.log

# Ignorar archivos de respaldo
*.bak

# Ignorar archivos de variables de entorno local
.env
